# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
.angular/

# Node dependencies
/node_modules
npm-debug.log
yarn-error.log

# Storybook
/storybook-static

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# OS metadata
.DS_Store
Thumbs.db

# Generated icon pack
./src/icons/generated
